In [5]:
import pandas

In [14]:
jmena = pandas.read_csv('jmena.csv')
jmena

        jméno  četnost  věk pohlaví        svátek      původ
0        Jiří   296090   49       m          24.4      řecký
1         Jan   293938   40       m   24.6. a 6.7  hebrejský
2        Petr   272135   42       m  22.2. a 29.6      řecký
3        Jana   264944   50       ž          24.5  hebrejský
4       Marie   260526   65       ž          12.9  hebrejský
..        ...      ...  ...     ...           ...        ...
95   Jindřich    26230   51       m          15.7    německý
96  Vlastimil    26014   54       m          17.3  slovanský
97        Iva    26003   46       ž          1.12  slovanský
98      Miloš    25509   53       m          25.1  slovanský
99     Zdenka    25416   68       ž          23.6  slovanský

[100 rows x 6 columns]

In [17]:
jmena[jmena["věk"] > 60]

        jméno  četnost  věk pohlaví svátek      původ
4       Marie   260526   65       ž   12.9  hebrejský
23       Věra   107388   63       ž   8.10  slovanský
30  Jaroslava    84556   63       ž    1.7  slovanský
38    Ludmila    72750   65       ž   16.9  slovanský
40     Zdeňka    69060   61       ž   23.6  slovanský
50    Jarmila    59666   65       ž    4.2  slovanský
53     Jiřina    55366   64       ž   15.2      řecký
64     Vlasta    41736   68       ž  23.12  slovanský
68     Božena    39851   72       ž   11.2  slovanský
70     Libuše    39269   66       ž   10.7  slovanský
71      Marta    38897   63       ž   29.7  aramejský
91     Růžena    28952   69       ž   13.3  slovanský
99     Zdenka    25416   68       ž   23.6  slovanský

jmeno["vek"] > 60